.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.wishlist-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.wishlist-button:hover {
    background-color: #0056b3;
    text-decoration-color: antiquewhite;
}
.wishlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.continue-watching-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.continue-watching-button:hover {
    background-color: #0056b3;
    text-decoration-color: antiquewhite;
}
.continue-watching {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
